ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
ul li {
	text-align: left;
}

.profile {
	border: solid 0.5px rgb(0,0,0, 0.2);
	border-radius: 50%;
	background: #FFF;
	overflow: hidden;
}
.avatar {
	width: 32px;
	height: 32px;
	border: 0.5px solid rgba(0, 0, 0, 0.2);
	object-fit: cover;
}

.DM {
	position: absolute;
	width: 360px;
	height: fit-content;
	background: #EDEDED;
	bottom: 0;
	.DM-header {
		position: relative;
		height: 52px;
		align-items: center;
		.profile.small {
			position: relative;
			display: inline-block;
			width: 32px;
			height: 32px;
			margin-top: 10px;
			margin-left: 10px;
		}
		h3 {
			position: absolute;
			display: inline-block;
			font-size: 20pt;
			font-weight: 600;
			top: 8px;
			margin: 0 0 0 10px;
			padding: 0;
		}
		button {
			position: absolute;
			display: inline-block;
			height: 100%;
			right: 0;
			padding: 0;
			border-style: none;
			background: transparent;
			margin-right: 14px;
		}
	}
	ul {
		height: 305px;
		background: #EDEDED;
		border-top: 1px solid #B1B1B1;
		border-bottom: 1px solid #B1B1B1;
		overflow:auto;
		.dm-message {
			display: flex;
			min-height: 32px;
			font-size: 12pt;
			padding: 6px 10px;
		}
		.dm-message.my-dm {
			flex-direction: column;
			align-items: flex-end;
			margin-right: 10px;
			word-break: break-all;
		}
		.dm-message.other-dm {
			.profile.small {
				width: 32px;
				height: 32px;
				margin-top: 2px;
				margin-right: 8px;
			}
		}
		.dm-user {
			font-weight: 600;
		}
		.dm-text {
			max-width: 287px;
		}
	}
	ul span {
		font-weight: 600;
	}
	input {
		width: 360px;
		height: 40px;
		padding-left: 10px;
		border-style: none;
		box-sizing: border-box;
		background: #EDEDED;
	}
	::placeholder {
		color: #B1B1B1;
	}
}