.game-wrap {
  flex-grow: 1;
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .game-window {
    margin-top: 36px;
  }
}

.game-scoreboard {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .score {
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    margin: 0 80px;
  }
  .userinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.userinfo {
  .user-avater {
    width: 82px;
    height: 82px;
    object-fit: cover;
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.25));
    border-radius: 100%;
  }
  .user-nickname {
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-top: 24px;
  }
}
