@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.chatroom-create-modal-wrap {
  width: 544px;
  background: #ffffff;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  padding: 32px 24px;
  animation: modal-show 0.3s;
  overflow: hidden;
  .description {
    margin-top: 12px;
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #9c9c9c;
  }
  .content {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .title {
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #1f1f1f;
  }
  .close {
    height: 24px;
    width: 24px;
    &:hover {
      cursor: pointer;
    }
  }
}

.content {
  .subtitle {
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    width: 70px;
  }
}

.room-title {
  flex-grow: 1;
  margin-left: 28px;
  height: 40px;
  background: #ffffff;
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  padding: 8px;
}

.select {
  flex-grow: 1;
  margin-left: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  > div.radio {
    margin-right: 16px;
  }
  .password-close {
    display: none;
  }
  .password-open {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.result {
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  .success {
    margin-top: 24px;
    color: #1b1a1a;
  }
  .error {
    margin-top: 24px;
    color: #ff5c5c;
  }
}

.password-open {
  .password-input {
    margin-left: 8px;
    padding: 4px 8px;
    width: 118px;
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
  }
}

.protected-close {
  display: none;
}

.protected-open {
  margin-left: calc(70px + 28px);
  margin-top: 12px;
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  .protected-description {
    color: #000000;
  }
  .protected-error {
    color: #ff5c5c;
  }
}

.submit-wrap {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .submit {
    padding: 10px 0px;
    width: 200px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
  }
}

.submit {
  .submit-title {
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: block;
    text-align: center;
  }
  &:hover {
    cursor: pointer;
  }
}

.modal-background {
  display: none;
  position: fixed;
  opacity: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-open {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: modal-bg-show 0.3s;
}
