@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-wrap {
  width: 500px;
  background: #ffffff;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  padding: 32px 24px;
  animation: modal-show 0.3s;
  overflow: hidden;
  .description {
    margin-top: 12px;
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #9c9c9c;
  }
  .search {
    margin-top: 42px;
    display: flex;
    flex-direction: row;
  }
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .title {
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #1f1f1f;
  }
  .close {
    height: 24px;
    width: 24px;
    &:hover {
      cursor: pointer;
    }
  }
}

.search {
  .search-bar {
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 396px;
    height: 40px;
    left: 24px;
    top: 138px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    flex-grow: 1;
  }
  .search-nickname {
    margin-left: 8px;
    flex-grow: 1;
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
    border: hidden;

    &:focus {
      outline: none;
    }
  }
  .submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    width: 120px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    margin-left: 12px;
  }
}

.submit {
  .submit-title {
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  }
}

.result {
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  .success {
    margin-top: 24px;
    color: #1b1a1a;
  }
  .error {
    margin-top: 24px;
    color: #ff5c5c;
  }
}

.modal-background {
  z-index: 10;

  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-open {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: modal-bg-show 0.3s;
}
