.page {
  height: calc(100vh - 92px);
  display: flex;
  flex-direction: row;

  .chatroom-wrap {
    flex-grow: 1;
    margin: 32px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
  
    display: flex;
    flex-direction: column;
  
    .chatroom-message-list {
      padding: 32px;
      margin-top: auto;
    }
  
    .chatroom-user-input {
      display: flex;
      background: #FFFFFF;
      border: 1px solid #000000;
      box-sizing: border-box;
      border-radius: 7px;
  
      .input-field {
        width: 100%;
        border: none;
        margin: 16px;
        
        font-family: Spoqa Han Sans Neo;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 30px;
  
        color: #000000;
      }
    }
  }
}

.button-chatroom-exit {
  position: fixed;
  left: 24px;
  bottom: 32px;

  text-align: center;
  width: 312px;
  height: 48px;
  background: rgba(255, 92, 92, 0.1);
  border-radius: 4px;

  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 48px;
  color: #FF5C5C;

  &:hover {
    cursor: pointer;
  }
}