.dropdown-list-wrap {
  // margin: 20px;
  overflow: hidden;
  width: 260px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;


}

.dropdown-header {
  width: calc(122px);

}
