/* Header */
header {
  display: flex;
  flex-direction: row;
  padding: 20px 40px;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 1px 0px #e2e2e2;

  > div.title {
    margin: auto;
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 52px;
    color: #1f1f1f;
    flex-grow: 1;
    cursor: pointer;
  }

  > div.profile-icon {
    > img.user-avater {
      width: 48px;
      height: 48px;
      border-radius: 100%;
      overflow: hidden;
      border: 0.5px solid rgba(0, 0, 0, 0.2);
      object-fit: cover;
      margin-left: 24px;
    }
  }
}

.notification-icon {
  &:hover {
    cursor: pointer;
  }
}

.notification-trigger {
  width: 48px;
  height: 48px;
}

.profile-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 0;
  margin-left: 24px;
  &:hover {
    cursor: pointer;
  }
}

.user-nickname {
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
