.profile-wrap {
  flex-grow: 1;
  padding: 48px;
  background-color: #fbfbfb;
}

.profile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .user-avatar {
    width: 125px;
    height: 125px;
    object-fit: cover;
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.25));
    border-radius: 100%;
  }

  .profile-description {
    margin-left: 48px;
    display: flex;
    flex-direction: column;
  }
}

.profile-description {
  .profile-nickname {
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: #000000;
  }

  .profile-gameInfo {
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
  }
}

.profile-searchbar {
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;

  /* width: 396px; */
  /* height: 40px; */

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);

  /* border: 1px solid #000000; */
  border-radius: 4px;
  box-sizing: border-box;

  .search-icon {
    width: 20px;
    height: 20px;
  }

  .search-nickname {
    margin-left: 8px;
    flex-grow: 1;
    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    border: hidden;

    &:focus {
      outline: none;
    }
  }
}

.achievement-list {
  margin-top: 8px;
  padding: 24px 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  border-radius: 4px;
}

.gameLogList {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 60px;

  max-height: calc(100vh - 92px - 48px - 165px - 60px - 48px);
}
