.user-item-wrap {
  // width: 360px;
  padding: 16px 24px;
  overflow: none;
  background: #f8f8f8;

  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
    background-color: #f2f2f2;
  }

  .user-photo-wrap {
    position: relative;
    width: 64px;
    height: 64px;

    .avatar {
      width: 64px;
      height: 64px;
      border: 0.5px solid rgba(0, 0, 0, 0.2);
      border-radius: 100%;
      object-fit: cover;
    }

    .status {
      z-index: 0.5;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .nickname {
    margin-left: 24px;
    max-width: 240px;
    word-break: break-all;

    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 35px;
  }
}
